﻿@model ModelView.applicantModelView

<div class="panel-group">
    <div class="panel panel-default">
        <div class="form-group col-sm-6">
            <label for="nama" style="color: #023692">Nama *</label><br />
            <input class="form-control" type="text" id="nama" name="nama" style="border-color: #023692; height: 1cm">
                @Html.ValidationMessageFor(model => model.nama, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="nomor_hp" style="color: #023692">Nomor Handphone *</label><br />
            <input class="form-control" type="text" id="nomor_hp" name="nomor_hp" style="border-color: #023692; height: 1cm">
                @Html.ValidationMessageFor(model => model.nomor_hp, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="email" style="color: #023692">E-mail</label><br />
            <input class="form-control" type="text" id="email" name="email" style="border-color: #023692; height: 1cm">
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="tgl_lahir" style="color: #023692">Tanggal Lahir *</label><br />
            <input class="form-control" type="date" id="tgl_lahir" name="tgl_lahir" style="border-color: #023692; height: 1cm">
                @Html.ValidationMessageFor(model => model.tgl_lahir, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="alamat" style="color: #023692">Alamat *</label><br />
            <input class="form-control" type="text" id="alamat" name="alamat" style="border-color: #023692; height: 1cm">
                @Html.ValidationMessageFor(model => model.alamat, "", new { @class = "text-danger" })
        </div>

        @*<input class="form-control" type="radio" id="jurusan" name="jurusan" style="border-color: #023692; height: 1cm">
        <label for="it">IT</label><br>
        <input class="form-control" type="radio" id="jurusan" name="jurusan" style="border-color: #023692; height: 1cm">
        <label for="nonit">Non IT</label><br>*@
        <div class="form-group col-sm-6">
            <label for="jurusan" style="color: #023692">Jurusan Kuliah yang dibidangi ?</label><br>
            @Html.DropDownList("jurusan", new List<SelectListItem>{
        new SelectListItem{ Text="--Jurusan--", Value="", Selected=true},
        new SelectListItem{ Text="IT", Value="IT"},
        new SelectListItem{ Text="NON IT", Value="NON_IT"}
        }, new { @class = "form-control", style = "border-color: #023692; height: 1cm" })
            @Html.ValidationMessageFor(model => model.jurusan, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-6">
            <label for="pertanyaan" style="color: #023692">Pertanyaan ?</label><br />
            <textarea class="form-control" rows="5" id="pertanyaan" name="pertanyaan" style="border-color: #023692; height: 2cm"></textarea>
                @Html.ValidationMessageFor(model => model.pertanyaan, "", new { @class = "text-danger" })
        </div>

        <div class="btn-group col-md-offset-10" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-save btn-primary" id="btn_create_save">Kirim</button>
            <input type="button" value="Cancel" title="Cancel" class="btn btn-danger" data-dismiss="modal" />
        </div>
    </div>
</div>