﻿@model ModelView.applicantModelView

<div class="modal-body" style="color: #c81912">
    <div class="row">
        <div class="col-md-3"><i class="fas fa-trash" style="display:block; width: 70%; height: 70%; margin: auto"></i></div>
        <div class="col-md-9">
            <h3 style="margin: auto; padding: 10px">Anda yakin ingin menghapus <br />@Html.DisplayFor(model => model.nama)?</h3>
            @Html.HiddenFor(model => Model.id)
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-batal btn-secondary" id="batal" onclick="batalAction(this)">Tidak</button>
    <button type="button" class="btn btn-primary btnKonfirmasiDelete" id="btn_delete" style="background-color:#c81912">Ya</button>
</div>

<script>
    batalAction=(e)=>{
        $("#modalDelete").modal('hide');
    }
</script>