﻿@model ModelView.applicantModelView

@Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="form-group col-sm-6">
            <label for="nama" style="color: #023692">Nama *</label>
            <input class="form-control" type="text" id="nama" name="nama" style="border-color: #023692; height: 1cm" value="@Model.nama">
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.nama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="nomor_hp" style="color: #023692">Nomor Handphone *</label>
            <input class="form-control" type="text" id="nomor_hp" name="nomor_hp" style="border-color: #023692; height: 1cm" value="@Model.nomor_hp">
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.nomor_hp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="email" style="color: #023692">E-mail</label>
            <input class="form-control" type="text" id="email" name="email" style="border-color: #023692; height: 1cm" value="@Model.email">
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="tgl_lahir" style="color: #023692">Tanggal Lahir *</label>
            <input class="form-control" type="date" id="tgl_lahir" name="tgl_lahir" style="border-color: #023692; height: 1cm" value="@Model.tgl_lahir">
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.tgl_lahir, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="alamat" style="color: #023692">Alamat *</label>
            <input class="form-control" type="text" id="alamat" name="alamat" style="border-color: #023692; height: 1cm" value="@Model.alamat">
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.alamat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="jurusan" style="color: #023692">Jurusan Kuliah yang Dibidangi ?</label><br>
            @Html.DropDownList("jurusan", new List<SelectListItem>{
        new SelectListItem{ Text="--Jurusan--", Value="", Selected=true},
        new SelectListItem{ Text="IT", Value="IT"},
        new SelectListItem{ Text="NON IT", Value="NON_IT"}
        }, new { @class = "form-control", style = "border-color: #023692; height: 1cm" })
            @Html.ValidationMessageFor(model => model.jurusan, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-sm-10">
            <label for="pertanyaan" style="color: #023692">Pertanyaan ?</label>
            <input class="form-control" rows="5" id="pertanyaan" name="pertanyaan" style="border-color: #023692; height: 2cm" value="@Model.pertanyaan">
            @Html.ValidationMessageFor(model => model.pertanyaan, "", new { @class = "text-danger" })
        </div>

        <div class="btn-group col-md-offset-10" role="group" aria-label="Basic example">
            <input type="button" value="Edit" title="Edit" class="btn btn-primary" id="Edit" />
            <input type="button" value="Cancel" title="Cancel" class="btn btn-danger" data-dismiss="modal" />
        </div>
    </div>
</div>