﻿@{
    ViewBag.Title = "Index";
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="header">
                <h1>List Applicant</h1>
            </div>
            &nbsp;
            <button class="btn btn-info" title="Tambah Data" id="btn_create" name="btn_create">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
        <div class="panel-body">
            <div id="table-list" name="table-list">
                @Html.Partial("List")
            </div>
        </div>
    </div>
</div>

<!-- Model Content -->
<div class="modal fade" id="modal-edit-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelAdd" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:900px">
        <!-- Modal Content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button class="close" data-dismiss="modal">&times;</button>-->
                <h3 class="modal-title modal-mn"></h3>
            </div>
            <div class="modal-bind-content" style="margin-top:10px; margin-left:40px; margin-right:40px; margin-bottom:10px">
                <div class="modal-body">
                    <input type="hidden" id="action" value="">
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Popup Delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header" style="background: #B61111">
                <h3 class="modal-title modal-mn"></h3>
            </div>
            <div class="modal-bind-content" style="margin-top:10px; margin-left:40px; margin-right:40px; margin-bottom:10px">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    var vjs_loading = '<div class="progress progress-striped active" style="margin-bottom:0"><div class="progress-bar" style="width:100%"></div></div>';

    $(document).ready(function () {
        ShowList()
    });

    //Method untuk Menampilkan Data
    function ShowList() {
        debugger;
        $("#table-list").html(vjs_loading);

        $.ajax({
            url: '@Url.Action("List", "applicant")',
            type: 'get',
            data: {
            },
            success: function (result) {
                $("#table-list").html(result);
            }
        });
    }

        $("#btn_create").click(function () {
            /* setting konfigurasi pop-up / modal */
            $("#modal-edit-form").modal("show"); //memunculkan pop-up
            $(".modal-title").html("Tambah Data"); //memunculkan title pop-up
            $(".modal-bind-content").html(vjs_loading); //mensetting body menjadi animasi loading

            /* Setting body modal dari view */
            $.ajax({
                url: '@Url.Action("Create","applicant")',
                type: 'get',
                success: function (result) {
                    $(".modal-bind-content").html(result);
                }
            });
        });

    $(document).on("click", "#btn_create_save", function () {
        debugger;
        //Ambil Nilai Pada Form
        var vjs_name = $("#nama").val();
        var vjs_nomor_hp = $("#nomor_hp").val();
        var vjs_email = $("#email").val();
        var vjs_tglLahir = $("#tgl_lahir").val();
        var vjs_alamat = $("#alamat").val();
        var vjs_jurusan = $("#jurusan").val();
        var vjs_pertanyaan = $("#pertanyaan").val();

        //Membuat Variabel Json / class dari nilai form
        var item = {
            nama: vjs_name,
            nomor_hp: vjs_nomor_hp,
            email: vjs_email,
            tgl_lahir: vjs_tglLahir,
            alamat: vjs_alamat,
            jurusan: vjs_jurusan,
            pertanyaan: vjs_pertanyaan,
        };

        $.ajax({
            url: '@Url.Action("Create", "applicant")',
            type: 'post',
            data: { paramModel: item },
            success: function (result) {
                if (result.success) {
                    alert("Data Berhasil Dikirim");
                    $("#modal-edit-form").modal("hide"); //menutup pop-up
                    ShowList();
                }
                else {
                    alert(result.message);
                }
            }
        });
    });

    //Popup Edit
    $(document).on("click", ".btn_grid_edit", function () {
        $("#modal-edit-form").modal("show");
        $(".modal-title").html("Update Applicant");
        $(".modal-bind-content").html(vjs_loading);

        //Membuat variabel tombol edit grid
        var vjs_Id = $(this).attr("data-id");

        $.ajax({
            url: '@Url.Action("Edit","applicant")',
            type: 'get',
            data: { paramId: vjs_Id },
            success: function (result) {
                $(".modal-bind-content").html(result);
            }
        });
    });

    $(document).on("click", "#Edit", function () {
        debugger;
        //Ambil Nilai Pada Form
        var vjs_Id = $("#id").val();
        var vjs_name = $("#nama").val();
        var vjs_nomor_hp = $("#nomor_hp").val();
        var vjs_email = $("#email").val();
        var vjs_tglLahir = $("#tgl_lahir").val();
        var vjs_alamat = $("#alamat").val();
        var vjs_jurusan = $("#jurusan").val();
        var vjs_pertanyaan = $("#pertanyaan").val();

        //Membuat Variabel Json / class dari nilai form
        var itemEdit = {
            id: vjs_Id,
            nama: vjs_name,
            nomor_hp: vjs_nomor_hp,
            email: vjs_email,
            tgl_lahir: vjs_tglLahir,
            alamat: vjs_alamat,
            jurusan: vjs_jurusan,
            pertanyaan: vjs_pertanyaan,
            is_delete: false
        };

        $.ajax({
            url: '@Url.Action("Edit", "applicant")',
            type: 'POST',
            data: { paramModel: itemEdit },
            success: function (result) {
                if (result.success) {
                    alert("Data Berhasil Diedit");
                    $("#modal-edit-form").modal("hide"); //menutup pop-up
                    ShowList();
                }
                else {
                    alert(result.message);
                }
            }
        });
    });

    //Popup delete
    $(document).on("click", ".btn_grid_delete", function () {
        debugger;
        $("#modalDelete").modal("show");
        $(".modal-title").html("Hapus Data Applicant");
        $(".modal-bind-content").html(vjs_loading);

        //Membuat variabel tombol edit grid
        var vjs_id = $(this).attr("data-id");

        $.ajax({
            url: '@Url.Action("Delete","applicant")',
                type: 'get',
                data: { IdDelete: vjs_id },
                success: function (result) {
                    $(".modal-bind-content").html(result);
                }
            });
        });

                $(document).on("click", "#btn_delete", function () {
            var vjs_id = $("#id").val();

            var itemDelete = {
                Id: vjs_id
            }

            $.ajax({
                url: '@Url.Action("Delete", "applicant")',
                type: 'post',
                data: { paramModelDelete: itemDelete },
                success: function (result) {
                    if (result.success) {
                        alert("Data Berhasil Dihapus");
                        $("#modalDelete").modal("hide");
                        ShowList();
                    }
                    else {
                        alert(result.message);
                    }
                }
            });
        });
    </script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
}