﻿@model IEnumerable<ModelView.applicantModelView>

<table class="table">
    <tr>
        <th>
            <font size="4" color="#023692">Nama</font>
        </th>
        <th>
            <font size="4" color="#023692">Nomor Handphone</font>
        </th>
        <th>
            <font size="4" color="#023692">Email</font>
        </th>
        <th>
            <font size="4" color="#023692">Tanggal Lahir</font>
        </th>
        <th>
            <font size="4" color="#023692">Alamat</font>
        </th>
        <th>
            <font size="4" color="#023692">Jurusan</font>
        </th>
        <th>
            <font size="4" color="#023692">Pertanyaan</font>
        </th>
        <th>
            <font size="4" color="#023692">Action</font>
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomor_hp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tgl_lahir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jurusan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pertanyaan)
                </td>
                <td>
                    <button title="Edit" class="btn btn-warning btn_grid_edit" data-id="@item.id">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                        </span>
                    </button>
                    <button title="Delete" class="btn btn-danger btn_grid_delete" data-id="@item.id">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true">
                        </span>
                    </button>
                </td>
            </tr>
        }
    }

</table>
